<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
      <title>Level {{levelId}}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="/notStyle.css">
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="/phaser.min.js"></script>
      <script src="/game-files/levels/level-{{levelId}}/level.js"></script>
      <script type="text/javascript" src="/createUser.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body class="tile">
      {{{ body }}}
   </body>
</html>