<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
      <title>Level {{levelId}}</title>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="/phaser.min.js"></script>
      <script src="/game-files/levels/level-{{levelId}}/level.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body class="tile">
      {{{ body }}}
   </body>
</html>