<div id="intro" style="display:none">
	
</div>

<div id="levelSelect" style="display:none">
	
</div>


<div id="death" style="display:none">
	<div id="deathMenu">
		<div id="gameover">
			<p> GAME </p>
			<p> OVER </p>
		</div>

		<div class="choices">
			<button id="restart" class="waves-effect waves-light btn">RESTART GAME</button>
			<button class="menu waves-effect waves-light btn">MAIN MENU</button>
			<button id="logout" class="logout waves-effect waves-light btn">LOG OUT</button>
			<button id="delete-acc" class="delete waves-effect waves-light btn">DELETE ACCOUNT</button>
	</div>
	</div>
</div>

<div id="victory" style="display:none">
	<div id="victoryMenu">
		<div id="win">
			<p> YOU </p>
			<p> WIN </p>
		</div>

		<div class="choices">
			<br>
			<br>
			<button id="next" class="waves-effect waves-light btn">NEXT LEVEL</button>
			<br>
			<br>
			<button class="menu waves-effect waves-light btn">MAIN MENU</button>
	</div>
	</div>
</div>

<script>
$(document).ready(function(){
	var tokenid = localStorage.getItem("jwtoken");
	var tokenURL = "/level-select/?token=" + tokenid;
	$(".menu").click(function(){
		window.location = tokenURL;
	});
	$('#logout').click(logOut);
	$('#delete-acc').click(deleteAccount);
});
</script>