<div id="intro" style="display:none">
	
</div>

<div id="levelSelect" style="display:none">
	
</div>

  <!-- Modal Structure for Levels -->
  <div id="modal-level" class="modal">
    <div class="modal-content">
      <h3>Select a level to play</h3>
      <button class="waves-effect waves-light btn" id="level1">1</button>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
          

<div id="death" style="display:none">
	<div id="deathMenu">
		<div id="gameover">
			<p> GAME </p>
			<p> OVER </p>
		</div>

		<div id="choices">
			<button id="restart">RESTART GAME</button>
			<button id="menu" href="/">MAIN MENU</button>
	</div>
	</div>
</div>