<div id="intro" style="display:none">
	
</div>

<div id="levelSelect" style="display:none">
	
</div>


<div id="death" style="display:none">
	<div id="deathMenu">
		<div id="gameover">
			<p> GAME </p>
			<p> OVER </p>
		</div>

		<div id="choices">
			<button id="restart">RESTART GAME</button>
			<button id="menu" href="/">MAIN MENU</button>
	</div>
	</div>
</div>