<div id="intro" style="display:none">
	
</div>

<div id="levelSelect" style="display:none">
	
</div>


<div id="death" style="display:none">
	<div id="deathMenu">
		<div id="gameover">
			<p> GAME </p>
			<p> OVER </p>
		</div>

		<div class="choices">
			<a id="restart">RESTART GAME</button>
			<a class="menu">MAIN MENU</a>
	</div>
	</div>
</div>

<div id="victory" style="display:none">
	<div id="victoryMenu">
		<div id="win">
			<p> YOU </p>
			<p> WIN </p>
		</div>

		<div class="choices">
			<a id="next">NEXT LEVEL</button>
			<a class="menu">MAIN MENU</a>
	</div>
	</div>
</div>

<script>
$(document).ready(function(){
	var tokenid = localStorage.getItem("jwtoken");
	var tokenURL = "/level-select/?token=" + tokenid;
	$(".menu").attr("href", tokenURL);
});
</script>