body {
  background: #000022;
  background-image: url("images/Starfield.jpg");
  color: gold;
  perspective: 800px;
}

#starwars-text{
  width: 600px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform:  translateY(-500px) rotateX(20deg) translateY(900px) ;
  transition: transform 6s linear;
  
}

#starwars-text.moving{
  transform:  translateY(-100px) rotateX(20deg) translateY(-2000px);
}

h4 {
	color: #000000;
}

.btn{
	align-items: center;
	width:100%;
	background-color: gold;
	color: black;
}

nav {
	background: #000022;
  	color: gold;
}

input{
	color: gold;
}

.btn, .btn-flat{
	margin: 1%;
}

#death {
	width: 1280px;
	height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#deathMenu {
	width: 750px;
	height: 480px;
	margin: auto;
	margin-top: 120px;
  border-radius: 40px;
  background: red;
}

#gameover {
	height: auto;
	padding-top: 60px;
	background: none;
}

#gameover p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 160px;
	font-family: 'Black Ops One', cursive;
	line-height: 120px;
	text-align: center;
	text-shadow: 5px 5px #000000;
	color: #ffffff;
}

#choices {
	margin: 0 200px;
	padding-top: 60px;
	background: none;
}

#choices button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}